html{
    font-family: 'Press Start 2P', cursive;
    background-color: #6B8E23;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: #6B8E23;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.displayResultado{
    padding-bottom: 1rem;
    
}

.resultado{
    font-size: 1rem;
    font-family: 'Press Start 2P', cursive;
    height: 1.9rem;
    background-color: #BDB76B;
    text-align: right;
    padding-top: .8rem;
    
    
    
}

.displayOperacao{
    text-align: center;
}

.operacao{
    font-size: .8rem;
    font-family: 'Press Start 2P', cursive; 
    height: 1.3rem;
    background-color: #BDB76B;
    text-align: right;
    
}

.entrada{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.numeros{
    max-width: 250px;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.numero{
    font-size: 1.7rem;
    padding: 1rem;
    font-family: 'Press Start 2P', cursive;
    background-color: #556B2F;  
    margin-top: 1rem;
}

#esconder{
    display: none;
}

.numeroOP{
    font-size: .9rem;
    padding: 1rem;
    font-family: 'Press Start 2P', cursive;
    background-color: #556B2F;
    margin-top: .8rem;
}

#C{
    font-size: 1.5rem ;
    background-color: #808000;
    text-align: center;
    color: black;
    font-size: 1.3rem;
}


.operadores{
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer{
    
    text-align: center;
}